.Body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 4%;
    /* background-color: rgb(240, 240, 240); */
    height: 70vh;
    align-items: center;
    /* border: 1px solid; */
}
.Body_text{
    flex-basis: 40%;
    line-height: 170%;
}
.Body_image{
    height: 70%;
    /* border: 1px solid; */
}
.image{
    height: 100%;
    max-width: 100%;
    -webkit-box-shadow: 14px 11.5px 32px 6px rgb(107, 105, 104);
    -moz-box-shadow: 14px 11.5px 32px 6px rgb(107, 105, 104);
    box-shadow: 14px 11.5px 32px 6px rgb(205, 205, 205);
    border-radius: 24% 13% 0% 60% / 53% 75% 25% 0%;
}