.navbar_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
    background-color: rgb(107, 105, 104);
    border-bottom: 3px solid rgb(3, 47, 83);
}
.h1{
    color: rgb(3, 47, 83);
    background-color: rgb(196, 195, 195);
    padding: 2px 9px;
}
.navbar_ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 25%;
    justify-content: space-around;
    align-items: center;
}
.navbar_ul li{
    list-style: none;
    text-align: center;
}
.navbar_ul li a{
    text-decoration: none;
    background-color: rgb(196, 195, 195);
    color: rgb(3, 47, 83);
    padding: 3% 20%;
}
.navbar_ul li a:hover{
    color: rgb(196, 195, 195);
    background-color: rgb(3, 47, 83);
}

.mobile_navbar{
    display: none;
}
.lines_menu_button{
    /* display: none; */
}
.cross_menu_button{
    display: none;
}
.both_mobile_navbar_icon{
    font-size: 2rem;
    font-weight: 800;
}


@media (max-width:768px) {
    .mobile_navbar{
        display: inline-block;
        z-index: 99;
    }
    .cross_menu_button{
        display: inline-block;
        position: relative;
        top: 0;
        left: 100;
        transform: translateX(100%);
    }
    .navbar_ul{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: aqua;
        transform: translateX(100%);

        text-align: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
    .navbar_ul li a{
        font-size: x-large;
    }

    .active_mobile .mobile_navbar{
        display: none;
    }
    /* .active_mobile . */

    
}